html{
	background-color:#ffffff;
}

body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}
/*** Header *********/
#header {
    margin-left:15%;
    left: 0px;
    width: 85%;
	height: 10%;
	position: fixed;
	font-family: Helvetica, sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    background-color: #272727;
    border-bottom: 2px solid hsl(180,70%,55%);
    top: 0;
    padding-left:0;
    text-align:center;
}
.navbar-custom
{
	margin-top: 0;
	left:0;
	top:0;
}
/*****End Header******/
.footer-custom {
	margin: 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
	height: 100px;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
	padding-top:20px;   
    text-align:center;
}


#sidemenu {
    width: 15%;
    background-color:#2B2B2B;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    top: 0;
}

#sidemenu #menu {
    color: #fff;
    text-align: left;
    list-style-type: none;
    float: left;
    margin-left: 0px;
}

#sidemenu #menu li {
    width: 150px;
    height: 35px;
    font-size: 1.2em;
    margin-left: 0px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
	border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
	float:left;
}


    