.custom-row-info{
    font-weight: bold;
}
.custom-row-info td{
    border: 1px solid black;
}
.row-info-dot{
    border-bottom: 1px dashed black;
}
.row-info-dot td{
    border: 1px solid black;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}
.border-left-none{
    border-left: none !important;
}
.border-right-none{
    border-right: none !important;
}
.table-custom-balance{
    border-collapse: collapse;
}
.table-custom-balance thead{
    font-size: 14px;
    font-family: Helvetica, arial, helvetica, sans-serif;
}
.table-custom-balance thead th{
    border: 1px solid black;
    border-bottom: 2px solid black !important;
}
.table-custom-balance tbody{
    font-size: 12px;
    font-family: Helvetica, arial, helvetica, sans-serif;
    border-top: 2px solid black !important;
}
.table-custom-balance tbody+tbody{
    font-size: 12px;
    font-family: Helvetica, arial, helvetica, sans-serif;
    border-top: 2px solid black !important;
}