.custom-row-info{
    font-weight: bold;
}
.custom-row-info td{
    border: 1px solid black;
}
.row-info-dot{
    border-bottom: 1px dashed black;
}
.row-info-dot td{
    border: 1px solid black;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}
.border-left-none{
    border-left: none !important;
}
.border-right-none{
    border-right: none !important;
}
.table-custom-balance{
    border-collapse: collapse;
}
.table-custom-balance thead{
    font-size: 14px;
    font-family: Helvetica, arial, helvetica, sans-serif;
}
.table-custom-balance thead th{
    border: 1px solid black;
    border-bottom: 2px solid black !important;
}
.table-custom-balance tbody{
    font-size: 12px;
    font-family: Helvetica, arial, helvetica, sans-serif;
    border-top: 2px solid black !important;
}
.table-custom-balance tbody+tbody{
    font-size: 12px;
    font-family: Helvetica, arial, helvetica, sans-serif;
    border-top: 2px solid black !important;
}
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.li-export{
    display: block;
    cursor: pointer;
    padding: 3px 0px;
}
.li-export:hover{
    background: rgba(21, 215, 212, 0.2);
}
.export-item{
    padding: 0px 15px;
    line-height: 25px;
    width: 120px;
}
.custom-separate{
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.li-export img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}