/*.wrapper-customer-order{*/
    /*width:calc(100% - 60px);*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/
.main-content-template{
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    max-height: calc(100% - 126px);
    overflow: auto;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nopadding {
   padding: 0 !important;
   margin: 2 !important;
}
.language-bar-bottom{
    border-top: 1px solid rgb(217,217,217);
    margin-bottom: 0;
    padding: 10px 10px;
    height: 46px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background: #fff;
}
.top_nav, footer{
    display: none !important;
}
input, select{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
input:focus, select:focus{
    border: 1px solid #043d7a !important;
}
.input-date > input {
    padding-left: 30px;
}
.input-date:before{
    display: block;
    font-family: FontAwesome;
    content: '\f073';
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 3px 8px;
    z-index: 999;
}
span.form-control{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
.col-form-label{
    white-space: nowrap;
}
.separate-line{
    width: 100%;
    height: 1px;
    background: rgb(217,217,217);
}
.custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 13px;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}
.wrap-button-back{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 30px;
}
.wrap-group-items{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border: 4px solid #fff;
    background: #fff;
    margin-left: 0;
}
.wrap-all-item{
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
.text-header{
    font-size: 16px;
    font-weight: 700;
}
.button-back{
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    font-family: Montserrat, Helvetica, arial, helvetica, sans-serif;
}
.button-back:hover{
    color: #3fc4cc;
}
.mCSB_outside+.mCSB_scrollTools {
    right: -12px !important;
}
.mCSB_container{
    min-height: 100%;
}
.mCustomScrollBox{
    width: 100%;
}
.item-wrap{
    height: 120px;
    padding: 15px;
    float: left;
}
.item-wrap .item-content{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: #3fc4cc;
    border-radius: 10px;
}
.item-wrap .item-content:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.item-wrap .item-content span {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 10px;
    width: 100%;
    line-height: 70px;
    text-align: center;
    font-family: 'Montserrat' ,Helvetica;
    font-weight: bold;
}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.time-now{
    font-size: 20px;
    padding: calc(15px/2);
    display: inline-block;
    width: 165px;
}
/*TABLE CUSTOM*/
.table-custom-config .header {
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(4,61,122,.8);
    color: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    background-color: rgba(4,61,122,1);
    text-shadow: unset;
}
.table-custom-config td,.table-custom-config  th{
    white-space: nowrap;
}
.table-custom-config-wrap{
    max-height: 400px;
}
.table-custom-config-wrap .page-link{
    font-size: 11px !important;
}
.table-custom-config-wrap button {
    font-size: 11px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config td{
    font-size: 11px;
}
.pass-effect{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper-homePage:after{
    display: block;
    content: '';
    clear: both;
}
.table-custom-config td,.table-custom-config th{
    white-space: nowrap;
    position: relative;
}
.table-custom-config tr th:first-child{
    border-left: 1px solid transparent;
}
.table-custom-config tr th:last-child{
    border-right: 1px solid transparent;
}
.table-custom-config-wrap .page-link{
    font-size: 12px !important;
}
.table-custom-config-wrap button {
    font-size: 12px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config tbody {
    min-height: 42px;
}
.table-custom-config tfoot {
    font-size: 13px;
    font-weight: 700;
}
.table-custom-config thead{
    font-size: 14px;
    background: #0084C1;
    color: white;
}
.close-custom{
    color: red;
    font-size: 15px;
    padding-left: 5px;
    cursor: pointer;
}
.wrap-input-filter{
    position: absolute;
    width: 100%;
    min-width: 120px;
    top: 100%;
    z-index: 999;
    right: 0;
    height: 30px;
    border: 1px solid rgb(217,217,217);
    box-shadow: 0 0 2px rgb(217,217,217);
    background: #ffffff;
    background: rgba(255,255,255,0.75);
}
.wrap-input-filter input{
    height: 100%;
    width: calc(100% - 30px);
    line-height: 30px;
    font-size: 12px;
    border: none !important;
    outline: none !important;
    padding: 8px;
    background: transparent;
}

.name-header{
    display: inline-block;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
}
.wrap-filter-sort{
    width: 30px;
    overflow: hidden;
    display: inline-block;
}
.filter-table, .filter-table img,
.sort-icon, .sort-icon img{
    width: 13px;
    float: left;
    cursor: pointer;
}
.custom-view{
    font-size: 13px;
    padding: 5px 13px;
}
.filter-table{
    margin-left: 3px;
}
.table-custom-config{
    font-family: Arial, Helvetica, sans-serif;
}
.table-custom-config td{
    font-size: 13px;
}
.wrap-export-button{
    margin-top: 10px;
}
@media (max-width: 768px){
    .custom-view{
        float: right;
        margin-bottom: 20px;
    }
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    /*padding-bottom: 20px;*/
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.pagination li{
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(217,217,217);
    border-right: none;
}
.pagination li:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination li:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid rgb(217,217,217);
}
.pagination li.active{
    background: #f0f0f0;
}
.pagination li.disabled a{
    color: gray;
}
.modal{
    font-family: Montserrat, Helvetica, arial, helvetica, sans-serif;
}
.modal .btn{
    outline: none !important;
    box-shadow: none !important;
}
.modal .btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.custom-formcontrol{
    padding: .375rem 5px !important;
}
.btn-custom-pay{
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
}