.pass-effect{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper-homePage:after{
    display: block;
    content: '';
    clear: both;
}
.table-custom-config td,.table-custom-config th{
    white-space: nowrap;
    position: relative;
}
.table-custom-config tr th:first-child{
    border-left: 1px solid transparent;
}
.table-custom-config tr th:last-child{
    border-right: 1px solid transparent;
}
.table-custom-config-wrap .page-link{
    font-size: 12px !important;
}
.table-custom-config-wrap button {
    font-size: 12px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config tbody {
    min-height: 42px;
}
.table-custom-config tfoot {
    font-size: 13px;
    font-weight: 700;
}
.table-custom-config thead{
    font-size: 14px;
    background: #0084C1;
    color: white;
}
.close-custom{
    color: red;
    font-size: 15px;
    padding-left: 5px;
    cursor: pointer;
}
.tag {
    background: #0084C1;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: calc(15px/2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.tag:hover {
    background-color: #739fe4;
}
.color-black{
    color: black;
}
.tag:before {
    background: #fff;
    width: 14px;
    height: 14px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0px 10px 0 0;
}
.tag:after {
    display: inline-block;
    border: 19px solid;
    border-color: transparent transparent transparent #0084C1;
    height: 0;
    width: 0;
    position: absolute;
    right: -38px;
    top: 0;
    content: "";
    display: inline-block;
}
.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}

.wrap-input-filter{
    position: absolute;
    width: 100%;
    min-width: 120px;
    top: 100%;
    z-index: 999;
    right: 0;
    height: 30px;
    border: 1px solid rgb(217,217,217);
    box-shadow: 0 0 2px rgb(217,217,217);
    background: #ffffff;
    background: rgba(255,255,255,0.75);
}
.wrap-input-filter input{
    height: 100%;
    width: calc(100% - 30px);
    line-height: 30px;
    font-size: 12px;
    border: none;
    outline: none;
    padding: 8px;
    background: transparent;
}

.name-header{
    display: inline-block;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
}
.custom-row-effect{
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border: 4px solid #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bold_label{
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}
.normal_label{
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 14px !important;
}
.custom-span{
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
}
.wrap-filter-sort{
    width: 30px;
    overflow: hidden;
    display: inline-block;
}
.filter-table, .filter-table img,
.sort-icon, .sort-icon img{
    width: 13px;
    float: left;
    cursor: pointer;
}
.custom-view{
    font-size: 13px;
    padding: 5px 13px;
}
.filter-table{
    margin-left: 3px;
}
.table-custom-config{
    font-family: Arial, Helvetica, sans-serif;
}
.table-custom-config td{
    font-size: 13px;
}
.wrap-export-button{
    margin-top: 10px;
}
@media (max-width: 768px){
    .custom-view{
        float: right;
        margin-bottom: 20px;
    }
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.custom-form-group .form-group{
    margin-bottom: 0.5rem;
}
#fromDate, #toDate{
    font-size: 13px;
    line-height: 13px;
}
.custom-select-sm {
    height: calc(2.1875rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}
input.invalid-input{
    border-color: red !important;
}
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.pagination li{
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(217,217,217);
    border-right: none;
}
.pagination li:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination li:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid rgb(217,217,217);
}
.pagination li.active{
    background: #f0f0f0;
}
.pagination li.disabled a{
    color: gray;
}