input, select{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
input:focus, select:focus{
    border: 1px solid #043d7a !important;
}
.input-date > input {
    padding-left: 30px;
}
.input-date:before{
    display: block;
    font-family: FontAwesome;
    content: '\f073';
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 3px 8px;
    z-index: 999;
}
span.form-control{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
.separate-line{
    width: 100%;
    height: 1px;
    background: rgb(217,217,217);
}
.custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 13px;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}

.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
/*TABLE CUSTOM*/
.table-custom-config .header {
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(4,61,122,.8);
    color: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    background-color: rgba(4,61,122,1);
    text-shadow: unset;
}
.table-custom-config td,.table-custom-config  th{
    white-space: nowrap;
}
.table-custom-config-wrap .page-link{
    font-size: 11px !important;
}
.table-custom-config-wrap button {
    font-size: 11px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config td{
    font-size: 11px;
}
.pass-effect{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper-homePage:after{
    display: block;
    content: '';
    clear: both;
}
.table-custom-config td,.table-custom-config th{
    white-space: nowrap;
    position: relative;
}
.table-custom-config tr th:first-child{
    border-left: 1px solid transparent;
}
.table-custom-config tr th:last-child{
    border-right: 1px solid transparent;
}
.table-custom-config-wrap .page-link{
    font-size: 12px !important;
}
.table-custom-config-wrap button {
    font-size: 12px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config tbody {
    min-height: 42px;
}
.table-custom-config tfoot {
    font-size: 13px;
    font-weight: 700;
}
.table-custom-config thead{
    font-size: 14px;
    background: #0084C1;
    color: white;
}
.close-custom{
    color: red;
    font-size: 15px;
    padding-left: 5px;
    cursor: pointer;
}
.wrap-input-filter{
    position: absolute;
    width: 100%;
    min-width: 120px;
    top: 100%;
    z-index: 999;
    right: 0;
    height: 30px;
    border: 1px solid rgb(217,217,217);
    box-shadow: 0 0 2px rgb(217,217,217);
    background: #ffffff;
    background: rgba(255,255,255,0.75);
}
.wrap-input-filter input{
    height: 100%;
    width: calc(100% - 30px);
    line-height: 30px;
    font-size: 12px;
    border: none !important;
    outline: none !important;
    padding: 8px;
    background: transparent;
}

.name-header{
    display: inline-block;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
}
.wrap-filter-sort{
    width: 30px;
    overflow: hidden;
    display: inline-block;
}
.filter-table, .filter-table img,
.sort-icon, .sort-icon img{
    width: 13px;
    float: left;
    cursor: pointer;
}
.custom-view{
    font-size: 13px;
    padding: 5px 13px;
}
.filter-table{
    margin-left: 3px;
}
.table-custom-config{
    font-family: Arial, Helvetica, sans-serif;
}
.table-custom-config td{
    font-size: 13px;
}
.wrap-export-button{
    margin-top: 10px;
}
@media (max-width: 768px){
    .custom-view{
        float: right;
        margin-bottom: 20px;
    }
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.pagination li{
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(217,217,217);
    border-right: none;
}
.pagination li:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination li:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid rgb(217,217,217);
}
.pagination li.active{
    background: #f0f0f0;
}
.pagination li.disabled a{
    color: gray;
}
.modal{
    font-family: Montserrat, Helvetica, arial, helvetica, sans-serif;
}
.modal .btn{
    outline: none !important;
    box-shadow: none !important;
}
.modal .btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.custom-formcontrol{
    padding: .375rem 5px !important;
}
.width-200{
    width: 200px;
}
.input-table{
    padding: 4px 8px;
}