input, select{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
input:focus, select:focus{
    border: 1px solid #043d7a !important;
}
.input-date > input {
    padding-left: 30px;
}
.input-date:before{
    display: block;
    font-family: FontAwesome;
    content: '\f073';
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 3px 8px;
    z-index: 999;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}
input.invalid-input{
    border: 1px solid rgb(255,55,55)!important;
    -webkit-box-shadow: 0 0 1px  rgb(255,55,55)!important;
    -moz-box-shadow: 0 0 1px  rgb(255,55,55)!important;
    box-shadow: 0 0 1px rgb(255,55,55)!important;
}
.btn-custom:focus,
.btn-custom{
    outline: none !important;
    font-size: 14px;
    line-height: 14px;
}
span.col-form-label{
    font-size: 13px !important;
    line-height: 13px!important;
    outline: none !important;
}
span.form-control{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
.custom-row-info{
    background: #CEE7FF !important;
    font-weight: bold;
}
.border-left-none{
    border-left: none !important;
}
.border-right-none{
    border-right: none !important;
}
.table-custom-trans thead{
    font-size: 14px;
    font-family: Helvetica, arial, helvetica, sans-serif;
}
.table-custom-trans tbody{
    font-size: 12px;
    font-family: Helvetica, arial, helvetica, sans-serif;
}
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.li-export{
    display: block;
    cursor: pointer;
    padding: 3px 0px;
}
.li-export:hover{
    background: rgba(21, 215, 212, 0.2);
}
.export-item{
    padding: 0px 15px;
    line-height: 25px;
    width: 120px;
}
.custom-separate{
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.li-export img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.wrapper-scroll{
    max-height: 800px;
}
