input, select{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 2px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
    height: auto !important;
}
input:focus, select:focus{
    border: 1px solid #043d7a !important;
}
.input-date > input {
    padding-left: 30px;
}
.input-date:before{
    display: block;
    font-family: FontAwesome;
    content: '\f073';
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 3px 8px;
    z-index: 999;
}
span.form-control{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
.separate-line{
    width: 100%;
    height: 1px;
    background: rgb(217,217,217);
}
.custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 13px;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}
.wrapper-content{
    background-color: #EDEDEF;
    padding: 15px;
    border-radius: 5px;
}
.transfer-header{
    color: #126A44;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat, Helvetica;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(166,166,166);
    margin-bottom: 10px;
    margin-top: 15px;
}
.text-right-custom{
    text-align: right;
    font-weight: 700;
}
.custom-span{
    height: 35px;
    display: inline-block;
    line-height: 35px;
}
@media (max-width: 768px){
    .text-right-custom{
        text-align: left;
    }
}