input, select{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
input:focus, select:focus{
    border: 1px solid #043d7a !important;
}
.input-date > input {
    padding-left: 30px;
}
.input-date:before{
    display: block;
    font-family: FontAwesome;
    content: '\f073';
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 3px 8px;
    z-index: 999;
}
.transfer-header{
    color: #126A44;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat, Helvetica;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(166,166,166);
    margin-bottom: 10px;
    margin-top: 15px;
}
span.form-control{
    font-size: 13px !important;
    line-height: 13px!important;
    border-radius: 0px !important;
    border: 1px solid rgb(166,166,166) !important;
    outline: none !important;
}
.separate-line{
    width: 100%;
    height: 1px;
    background: rgb(217,217,217);
}
.custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 13px;
}
::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder {
    font-size: 13px!important;
}
::-moz-placeholder {
    font-size: 13px!important;
}
:-ms-input-placeholder{
    font-size: 13px!important;
}
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
/*TABLE CUSTOM*/
.table-custom-config .header {
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(4,61,122,.8);
    color: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    background-color: rgba(4,61,122,1);
    text-shadow: unset;
}
.table-custom-config td,.table-custom-config  th{
    white-space: nowrap;
}
.table-custom-config-wrap .page-link{
    font-size: 11px !important;
}
.table-custom-config-wrap button {
    font-size: 11px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config td{
    font-size: 11px;
}
.pass-effect{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper-homePage:after{
    display: block;
    content: '';
    clear: both;
}
.table-custom-config td,.table-custom-config th{
    white-space: nowrap;
    position: relative;
}
.table-custom-config tr th:first-child{
    border-left: 1px solid transparent;
}
.table-custom-config tr th:last-child{
    border-right: 1px solid transparent;
}
.table-custom-config-wrap .page-link{
    font-size: 12px !important;
}
.table-custom-config-wrap button {
    font-size: 12px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config tbody {
    min-height: 42px;
}
.table-custom-config tfoot {
    font-size: 13px;
    font-weight: 700;
}
.table-custom-config thead{
    font-size: 14px;
    background: #0084C1;
    color: white;
}
.close-custom{
    color: red;
    font-size: 15px;
    padding-left: 5px;
    cursor: pointer;
}
.wrap-input-filter{
    position: absolute;
    width: 100%;
    min-width: 120px;
    top: 100%;
    z-index: 999;
    right: 0;
    height: 30px;
    border: 1px solid rgb(217,217,217);
    box-shadow: 0 0 2px rgb(217,217,217);
    background: #ffffff;
    background: rgba(255,255,255,0.75);
}
.wrap-input-filter input{
    height: 100%;
    width: calc(100% - 30px);
    line-height: 30px;
    font-size: 12px;
    border: none !important;
    outline: none !important;
    padding: 8px;
    background: transparent;
}

.name-header{
    display: inline-block;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    text-align: center;
}
.wrap-filter-sort{
    width: 30px;
    overflow: hidden;
    display: inline-block;
}
.filter-table, .filter-table img,
.sort-icon, .sort-icon img{
    width: 13px;
    float: left;
    cursor: pointer;
}
.custom-view{
    font-size: 13px;
    padding: 5px 13px;
}
.filter-table{
    margin-left: 3px;
}
.table-custom-config{
    font-family: Arial, Helvetica, sans-serif;
}
.table-custom-config td{
    font-size: 13px;
}
.wrap-export-button{
    margin-top: 10px;
}
@media (max-width: 768px){
    .custom-view{
        float: right;
        margin-bottom: 20px;
    }
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.pagination li{
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(217,217,217);
    border-right: none;
}
.pagination li:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination li:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid rgb(217,217,217);
}
.pagination li.active{
    background: #f0f0f0;
}
.pagination li.disabled a{
    color: gray;
}
.modal{
    font-family: Montserrat, Helvetica, arial, helvetica, sans-serif;
}
.modal .btn{
    outline: none !important;
    box-shadow: none !important;
}
.modal .btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.custom-formcontrol{
    padding: .375rem 5px !important;
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.wrap-group-items{
    max-height: calc(100vh - 260px);
    width: 100%;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border: 4px solid #fff;
    background: #fff;
    margin-left: 0;
}
.mCSB_outside+.mCSB_scrollTools {
    right: -12px !important;
}
.mCustomScrollBox{
    width: 100%;
}
.item-wrap{
    height: 120px;
    padding: 15px;
    float: left;
}
.item-wrap .item-content{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: #ccc;
}
.item-wrap .item-content span {
    display: inline-block;
    padding: 10px;
    line-height: 70px;
}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.drop-box{
    width: 100%;
    height: 50px;
    border: 3px dashed #DADFE3;
    overflow: hidden;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.content-drag{
    width: 100%;
    height: 100%;
    color: #8E99A5;
}
.content-drag .custom-drag {
    font-size: 30px;
    line-height: 44px;
    float: left;
    padding: 0px 10px;
}
.content-drag .titlte-drag{
    font-size: 15px;
    line-height: 44px;
    float: left;
    text-transform: uppercase;
    width: calc(100% - 160px);
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-drag .titlte-drag,
.content-drag .btn{
    font-family: Montserrat, Helvetica, arial, helvetica, sans-serif;
}
.custom-button{
    position: absolute;
    height: 100%;
    right: 0;
    outline: none!important;
    box-shadow: none!important;
}
.custom-button:focus{
    outline: none !important;
    box-shadow: none !important;
}
.custom-button:disabled{
    background: rgb(166,166,166);
    border-color: rgb(166,166,166);
}